.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", user_confs_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_conf_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      UserConfs
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.user_conf.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @user_confs.each do |user_conf|
          %tr{:class => cycle("odd", "even")}
            %td
              = user_conf.id
            %td
              = link_to user_conf.name, user_conf_path(user_conf)
            %td
              = user_conf.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", user_conf_path(user_conf)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_user_conf_path(user_conf)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", user_conf_path(user_conf), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @user_confs
- content_for :sidebar, render(:partial => 'sidebar')
